        <div class="skills">
            <h2>Skills</h2>
			<div class="skill-section">
                <div class="skill-column">
                    <span class="skill-type">Mental (-3 unskilled)</span>
                    <div class="skill">
                    <span><a>Academics</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
                    </div>
                    <div class="skill">
                    <span><a>Computer</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
                    </div>
					<div class="skill">
                    <span><a>Crafts</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Investigation</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Medicine</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Occult</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Politics</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Science</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
                </div>
                <div class="skill-column">
                    <span class="skill-type">Physical (-1 unskilled)</span>
					<div class="skill">
                    <span><a>Athletics</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Brawl</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Drive</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Firearms</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Larceny</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Stealth</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Survival</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Weaponry</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
                </div>
                <div class="skill-column">
                    <span class="skill-type">Social (-1 unskilled)</span>
					<div class="skill">
                    <span><a>Animel Ken</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Empathy</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Expression</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Intimidation</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Persuasion</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Socialize</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Streetwise</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
					<div class="skill">
                    <span><a>Subterfuge</a></span>
					<div class="skill-circles">
                    <a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					<a><i class="far fa-circle"></i></a>
					</div>
					</div>
                </div>
            </div>
			<div class="special">
				<div class="specializations">
				<div class="specializations-title">
				<span>Specializations</span>
				</div>
				<input type="text" name="data.attributes.special.special1.current" value="{{data.attributes.special.special1.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.special.special2.current" value="{{data.attributes.special.special2.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.special.special3.current" value="{{data.attributes.special.special3.current}}" data-dtype="String" />
				</div>
				<div class="other">
				<div class="other-title">
				<span>Other</span>
				</div>
				<input type="text" name="data.attributes.special.other1.current" value="{{data.attributes.special.other1.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.special.other2.current" value="{{data.attributes.special.other2.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.special.other3.current" value="{{data.attributes.special.other3.current}}" data-dtype="String" />
				</div>
			</div>
		</div>