		<div class="rolls">
            <h2>Custom Rolls</h2>
		 <div class="items">
            <ol class="items-list">
            {{#each data.rolls as |roll index|}}
            
            <li class="rolls flexrow" data-index={{index}}>
                <input class = "roll-name" type="text" value = "{{roll.name}}" >
                <div class="attribute-selector roll primary">
                    <select name="attributeSelector">
                    {{#select roll.primary}}
                    <option value="none">None</option>
                    {{#each ../attributes as |group key|}}
                    <optgroup label = "{{key}}">"
                        {{#each group as |attrName attrKey|}}
                        <option value="{{attrKey}}">{{attrName}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                    </select>
                </div>
                <div class="attribute-selector roll secondary">
                        <select name="attributeSelector">
                        {{#select roll.secondary}}
                        <option value="none">None</option>
                        {{#each ../attributes as |group key|}}
                        <optgroup label = "{{key}}">"
                            {{#each group as |attrName attrKey|}}
                            <option value="{{attrKey}}">{{attrName}}</option>
                            {{/each}}
                        </optgroup>
                        {{/each}}
                        {{/select}}
                        </select>
                    </div>
                    <button class = "roll-button">Roll</button>
                    <div class="item-controls">
                            <a class="item-control roll-delete" title="Delete Roll"><i class="fas fa-trash"></i></a>
                    </div>  
            </li>
            {{/each}}
            <li>
                <a class = "item-add" data-item-type = "roll">+ Add</a>
            </li>
            </ol>
        </div>
		</div>