        <h2>Attributes</h2>
            <div class="attribute-section">
                <div class="attribute-column attribute-categories">
                    <span>Power</span>
                    <span>Finesse</span>
                    <span>Resistance</span>
                </div>
                <div class="attribute-column">
                    <span class="attribute-type">Mental</span>
                    <div class="attribute">
                    <span><a>Intelligence</a></span>
                    <input type="text" name="data.attributes.int.current" value="{{data.attributes.int.current}}" data-dtype="Number" />
                    </div>
                    <div class="attribute">
                    <span><a>Wits</a></span>
					<input type="text" name="data.attributes.wits.current" value="{{data.attributes.wits.current}}" data-dtype="Number" />
                    </div>
					<div class="attribute">
                    <span><a>Resolve</a></span>
					<input type="text" name="data.attributes.resolve.current" value="{{data.attributes.resolve.current}}" data-dtype="Number" />
					</div>
                </div>
                <div class="attribute-column">
                    <span class="attribute-type">Physical</span>
					<div class="attribute">
                    <span><a>Strength</a></span>
					<input type="text" name="data.attributes.str.current" value="{{data.attributes.str.current}}" data-dtype="Number" />
					</div>
					<div class="attribute">
                    <span><a>Dexterity</a></span>
					<input type="text" name="data.attributes.dex.current" value="{{data.attributes.dex.current}}" data-dtype="Number" />
					</div>
					<div class="attribute">
                    <span><a>Stamina</a></span>
					<input type="text" name="data.attributes.sta.current" value="{{data.attributes.sta.current}}" data-dtype="Number" />
					</div>
                </div>
                <div class="attribute-column">
                    <span class="attribute-type">Social</span>
					<div class="attribute">
                    <span><a>Presence</a></span>
					<input type="text" name="data.attributes.pre.current" value="{{data.attributes.pre.current}}" data-dtype="Number" />
					</div>
					<div class="attribute">
                    <span><a>Manipulation</a></span>
					<input type="text" name="data.attributes.manip.current" value="{{data.attributes.manip.current}}" data-dtype="Number" />
					</div>
					<div class="attribute">
                    <span><a>Composure</a></span>
					<input type="text" name="data.attributes.comp.current" value="{{data.attributes.comp.current}}" data-dtype="Number" />
					</div>
                </div>
            </div>
			<div class="resources">
				<div class="resources-type">
				<span>Health</span>
				<div class="circles">
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				</div>
				<div class="squares">
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				</div>
				</div>
				<div class="resources-type">
				<span>Willpower</span>
				<div class="circles">
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				</div>
				<div class="squares">
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				</div>
				</div>
				<div class="resources-type">
				<span>Morality</span>
				<div class="circles">
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				</div>
				<div class="squares">
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				</div>
				</div>
			</div>
			<div class="extra">
				<div class="conditions">
				<div class="conditions-title">
				<span>Conditions</span>
				</div>
				<input type="text" name="data.attributes.extra.cond1.current" value="{{data.attributes.extra.cond1.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.extra.cond2.current" value="{{data.attributes.extra.cond2.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.extra.cond3.current" value="{{data.attributes.extra.cond3.current}}" data-dtype="String" />
				</div>
				<div class="aspirations">
				<div class="aspirations-title">
				<span>Aspirations</span>
				</div>
				<input type="text" name="data.attributes.extra.asp1.current" value="{{data.attributes.extra.asp1.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.extra.asp2.current" value="{{data.attributes.extra.asp2.current}}" data-dtype="String" />
				<input type="text" name="data.attributes.extra.asp3.current" value="{{data.attributes.extra.asp3.current}}" data-dtype="String" />
				</div>
				</div>
				<div class="extra2">
				<div class="size extra-value">
				<span>Size</span> <input type="text" name="data.attributes.extra.size.current" placeholder="5" value="{{data.attributes.extra.size.current}}" data-dtype="Number" />
				</div>
				<div class="speed extra-value">
				<span>Speed</span> <input type="text" name="data.attributes.extra.speed.current" value="{{data.attributes.extra.speed.current}}" data-dtype="Number" />
				</div>
				<div class="defense extra-value">
				<span>Defense</span> <input type="text" name="data.attributes.extra.defense.current" value="{{data.attributes.extra.defense.current}}" data-dtype="Number" />
				</div>
				<div class="exp extra-value">
				<span>Experience</span> <input type="text" name="data.attributes.extra.exp.current" value="{{data.attributes.extra.exp.current}}" data-dtype="Number" />
				</div>
				<div class="beats extra-value">
				<span>Beats</span>
				<div class="beats-square">
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				<a><i class="far fa-square"></i></a>
				</div>
				</div>
				</div>
			</div>