<div class="skills">
   <h2>Skills</h2>
   <div class="skill-section">
      <div class="skill-column">
         <span class="skill-type">Mental (-3 unskilled)</span>
         <div class="skill">
            <span><a class="skill-click" data-skill = "academics">Academics</a></span>
            <input type="number" name="data.skills.academics.current" value="{{data.skills.academics.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "computer">Computer</a></span>
            <input type="number" name="data.skills.computer.current" frame name="body" value="{{data.skills.computer.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "crafts">Crafts</a></span>
            <input type="number" name="data.skills.crafts.current" value="{{data.skills.crafts.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "investigation">Investigation</a></span>
            <input type="number" name="data.skills.investigation.current" value="{{data.skills.investigation.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "medicine">Medicine</a></span>
            <input type="number" name="data.skills.medicine.current" value="{{data.skills.medicine.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "occult">Occult</a></span>
            <input type="number" name="data.skills.occult.current" value="{{data.skills.occult.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "politics">Politics</a></span>
            <input type="number" name="data.skills.politics.current" value="{{data.skills.politics.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "science">Science</a></span>
            <input type="number" name="data.skills.science.current" value="{{data.skills.science.current}}" data-dtype="Number" />
         </div>
      </div>
      <div class="skill-column">
         <span class="skill-type">Physical (-1 unskilled)</span>
         <div class="skill">
            <span><a class="skill-click" data-skill = "athletics">Athletics</a></span>
            <input type="number" name="data.skills.athletics.current" value="{{data.skills.athletics.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "brawl">Brawl</a></span>
            <input type="number" name="data.skills.brawl.current" value="{{data.skills.brawl.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "drive">Drive</a></span>
            <input type="number" name="data.skills.drive.current" value="{{data.skills.drive.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "firearms">Firearms</a></span>
            <input type="number" name="data.skills.firearms.current" value="{{data.skills.firearms.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "larceny">Larceny</a></span>
            <input type="number" name="data.skills.larceny.current" value="{{data.skills.larceny.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "stealth">Stealth</a></span>
            <input type="number" name="data.skills.stealth.current" value="{{data.skills.stealth.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "survival">Survival</a></span>
            <input type="number" name="data.skills.survival.current" value="{{data.skills.survival.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "weaponry">Weaponry</a></span>
            <input type="number" name="data.skills.weaponry.current" value="{{data.skills.weaponry.current}}" data-dtype="Number" />
         </div>
      </div>
      <div class="skill-column">
         <span class="skill-type">Social (-1 unskilled)</span>
         <div class="skill">
            <span><a class="skill-click" data-skill = "animalken">Animel Ken</a></span>
            <input type="number" name="data.skills.animalken.current" value="{{data.skills.animalken.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "empathy">Empathy</a></span>
            <input type="number" name="data.skills.empathy.current" value="{{data.skills.empathy.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "expression">Expression</a></span>
            <input type="number" name="data.skills.expression.current" value="{{data.skills.expression.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "intimidation">Intimidation</a></span>
            <input type="number" name="data.skills.intimidation.current" value="{{data.skills.intimidation.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "persuasion">Persuasion</a></span>
            <input type="number" name="data.skills.persuasion.current" value="{{data.skills.persuasion.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "socialize">Socialize</a></span>
            <input type="number" name="data.skills.socialize.current" value="{{data.skills.socialize.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "streetwise">Streetwise</a></span>
            <input type="number" name="data.skills.streetwise.current" value="{{data.skills.streetwise.current}}" data-dtype="Number" />
         </div>
         <div class="skill">
            <span><a class="skill-click" data-skill = "subterfuge">Subterfuge</a></span>
            <input type="number" name="data.skills.subterfuge.current" value="{{data.skills.subterfuge.current}}" data-dtype="Number" />
         </div>
      </div>
   </div>
   <div class="special">
      <div class="specializations">
         <div class="specializations-title">
            <span>Specializations</span>
         </div>
         <input type="text" name="data.attributes.special.special1.current" value="{{data.attributes.special.special1.current}}" data-dtype="String" />
         <input type="text" name="data.attributes.special.special2.current" value="{{data.attributes.special.special2.current}}" data-dtype="String" />
         <input type="text" name="data.attributes.special.special3.current" value="{{data.attributes.special.special3.current}}" data-dtype="String" />
      </div>
      <div class="other">
         <div class="other-title">
            <span>Other</span>
         </div>
         <input type="text" name="data.attributes.special.other1.current" value="{{data.attributes.special.other1.current}}" data-dtype="String" />
         <input type="text" name="data.attributes.special.other2.current" value="{{data.attributes.special.other2.current}}" data-dtype="String" />
         <input type="text" name="data.attributes.special.other3.current" value="{{data.attributes.special.other3.current}}" data-dtype="String" />
      </div>
   </div>
</div>