<h2>Extra</h2>
<div class="bio">
    <div class="height">
        <span class="bio-details">Height</span>
        <input type="text" name="data.details.height.current" placeholder="Height" value="{{data.details.height.current}}" data-dtype="String" />
    </div>
    <div class="weight">
        <span class="bio-details">Weight</span>
        <input type="text" name="data.details.weight.current" placeholder="Weight" value="{{data.details.weight.current}}" data-dtype="String" />
    </div>
    <div class="hair">
        <span class="bio-details">Hair Color</span>
        <input type="text" name="data.details.haircolor.current" placeholder="Hair Color" value="{{data.details.haircolor.current}}" data-dtype="String" />
    </div>
    <div class="eye">
        <span class="bio-details">Eye Color</span>
        <input type="text" name="data.details.eyecolor.current" placeholder="Eye Color" value="{{data.details.eyecolor.current}}" data-dtype="String" />
    </div>
    <div class="birthplace">
        <span class="bio-details">Birthplace</span>
        <input type="text" name="data.details.birthplace.current" placeholder="Birthplace" value="{{data.details.birthplace.current}}" data-dtype="String" />
    </div>
</div>
<div class="extra">
	<div class="extratitle">
        <span class="extra-details">Allies</span>
        <input type="text" name="data.details.allies.current" placeholder="Allies" value="{{data.details.allies.current}}" data-dtype="String" />
    </div>
	<div class="extratitle">
        <span class="extra-details">Contacts</span>
        <input type="text" name="data.details.contacts.current" placeholder="Contacts" value="{{data.details.contacts.current}}" data-dtype="String" />
    </div>
	<div class="extratitle">
        <span class="extra-details">Enemies</span>
        <input type="text" name="data.details.enemies.current" placeholder="Enemies" value="{{data.details.enemies.current}}" data-dtype="String" />
    </div>
	<div class="extratitle">
        <span class="extra-details">Residence</span>
        <input type="text" name="data.details.residence.current" placeholder="Residence" value="{{data.details.residence.current}}" data-dtype="String" />
    </div>
	<div class="extratitle">
        <span class="extra-details">Vehicles</span>
        <input type="text" name="data.details.vehicles.current" placeholder="Vehicles" value="{{data.details.vehicles.current}}" data-dtype="String" />
    </div>
</div>