<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
                <div class="details">
				<input type="text" name="" placeholder="Age" value="" data-dtype="String"/>
				<input type="text" name="" placeholder="Concept" value="" data-dtype="String"/>
				<input type="text" name="" placeholder="Faction" value="" data-dtype="String"/>
				<input type="text" name="" placeholder="Virtue" value="" data-dtype="String"/>
				<input type="text" name="" placeholder="Vice" value="" data-dtype="String"/>
				</div>
        </div>
    </header>

<!--Tabs-->
  <section id="tab-sections">
    <nav id="codprimarytabs" class="sheet-tabs tabs">
      <a class="item active" data-tab="main">Main</a>
      <a class="item" data-tab="skills">Skills</a>
      <a class="item" data-tab="merits">Merits</a>
	  <a class="item" data-tab="combat">Combat</a>
	  <a class="item" data-tab="customrolls">Custom Rolls</a>
	  <a class="item" data-tab="extra">Extra</a>
    </nav>

<!-- Tab Contents -->
    <div class = "tab main" data-tab = "main">
	
	broccoli is so good and i have no brain
   </div>
	<div class = "tab skills" data-tab = "skills">
	<br>
	fuck
   </div>
    <div class = "tab merits" data-tab = "merits">
	pls kill me
   </div>
    <div class = "tab combat" data-tab = "combat">
   </div>
    <div class = "tab customrolls" data-tab = "customrolls">
   </div>
    <div class = "tab extra" data-tab = "extra">
   </div>
  </section>
</form>